{{define "_domain_links"}}
<div class="button  pull-left">
  <div class="medium btn link-button"><a href="{{.Url}}" title="Click here to go visit {{.Name}}" >View Site ➚</a></div>
  <div class="medium btn link-button"><a href="/details/{{.Name}}" title="Click here to see the sitemap {{.Name}}" >Table ⿳</a></div>
  <div class="medium btn link-button"><a href="/graph/{{.Name}}" title="Click here to see a visualization {{.Name}}" >Graph ⧝</a></div>
  <div class="medium btn crawl-button"><input class="crawl" type="submit" value="Redo ↺" data-url="{{.Name}}" title="Click here to re-analyze {{.Name}}" /></div>
  <div class="medium btn delete-button"><input class="delete" type="submit" value="Del ✖" data-url="{{.Name}}" title="Click here to delete {{.Name}}" /></div>
  <div class="loader default-background"></div>
</div>
{{end}}