{{define "_html_header"}}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" /> 
  <meta name="author" content="webl" /> 

  <title>{{.Title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <script type="text/javascript" src='/static/js/jquery-1.11.1.min.js'></script>
  <script type="text/javascript" src="/static/dracula/raphael-min.js"></script>
  <script type="text/javascript" src="/static/dracula/dracula_graffle.js"></script>
  <script type="text/javascript" src="/static/dracula/dracula_graph.js"></script>

  <link href="/static/gumby.css" rel="stylesheet" type="text/css" />
</head>
{{end}}