{{template "_html_header" .HtmlHeader}}

<body class="listpage"> 

  {{ template "_header_links" }}

  <div class="row">
    <div class="centered twelve columns">
      <table class="table">
        <thead>
          <tr>
            <th>Domain</th>
            <th>Analyzed</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
        {{range .AllDomains}}
          <tr class="domain-row">
            <td><a href="/details/{{.Name}}">{{.Name}}</a></td>
            <td>{{.LastAnalyzed}}</td>
            <td>
              {{ template "_domain_links" . }}
           </td>
          </tr>
        {{end}}
        <tr class="new-domain-row">
          <td colspan="3">
            <h2>Add Another Domain</h2>
            <div class="field">
              <input class="input url" type="text" placeholder="e.g. a4word.com" />
            </div>
            <div class="button">
              <div class="medium go-button btn"><input class="go" type="submit" value="Go" /></div>
              <div class="loader default-background"></div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  {{template "_output"}}  

  {{template "_html_footer" .HtmlFooter}}
</body> 
</html>