
$button_colour: #215f8b
$button_hover_colour: #19486a
$light_colour: #eef1f2
$dark_colour: #302d28
$default_font_family: "proxima-nova", sans-serif
$disabled_colour: red

$danger_colour: #cc5152
$danger_hover_colour: lighten($danger_colour,10%)

$link_colour: #3085d6 

.homepage, .listpage, .detailspage
  background-color: $light_colour
  margin: 20px 2px 0 2px
  padding-bottom: 50px
  font-family: $default_font_family
  color: $dark_colour
  h2
    font-size: 12pt 
    font-weight: 800

a.title
  color: white
  text-decoration: none
  margin-right: 10px
  &:hover
    color: white
    text-decoration: underline

.table
  tr
    th
      background-color: $button_colour

.crawl-button, .go-button, .link-button
  background-color: $button_colour
  float: left
  margin-right: 10px
  &:hover
    background-color: $button_hover_colour

.delete-button
  background-color: $danger_colour
  float: left
  margin-right: 10px
  &:hover
    background-color: $danger_hover_colour

.disabled
  background-color: $disabled_colour

.loader
  display: none
  float: left
  padding-left: 10px
  margin-right: 10px

.white-background
  background: #FFFFFF url('/static/i/loader_white.gif') no-repeat right top
  width: 32px
  height: 32px

.default-background
  background: $light_colour url('/static/i/loader.gif') no-repeat right top

.table-header-background  
  background: $button_colour url('/static/i/loader.gif') no-repeat right top


.link-button
  a
    text-decoration: none
    &:hover
      color: #ffffff
a

  color: $link_colour
  text-decoration: underline
  &:hover
    color: $link_colour
    font-style: italics

.button-group
  float: left
  padding-right: 10px
  .button
    display: inline
  a
    padding-right: 10px
    float: left
    display: inline

.terminal-container
  display: none

.terminal
  margin: 20px 0 20px 0
  font-family: Courier
  color: #CCCCCC
  background: #000000
  border: 3px double #CCCCCC
  padding: 10px
  max-height: 400px
  height: 400px
  overflow: scroll

.inline
  display: inline
  float: left

.pull-left
  display: inline
  float: left

.pull-right
  display: inline
  float: right

.statuscode-500, .statuscode-404
  background-color: #f9aa8b !important
  color: #FF4F64 !important
  a
    color: #FF4F64 !important

.page
  background-color: #DFECCB

.asset-resource, .link-resource
  padding-left: 30px


.document-type-link
  color: #90C0F8
  a
    color: #90C0F8

.document-type-js
  color: #948A71
  a
    color: #948A71

.document-type-css
  color: #ECB163
  a
    color: #ECB163

.document-type-png, .document-type-jpeg, .document-type-ogg, .document-type-flash, .document-type-mp4
  color: #94D5B3
  a
    color: #94D5B3

.document-type-pdf, .document-type-doc, .document-type-plain
  color: #EDBB24
  a
    color: #EDBB24

.header-links
  a
    padding-left: 20px